
.splash-page{
  background-image: url(seven-samurai-2.jpg);
  min-height: 80vh;
  background-size:cover;
}
.card-white-email{
  background: #E9E9DF;
  padding: 10px;
  box-shadow: 1px 1px 2px #C5D0DE;
  border-radius: 4px;
  margin: 20px 50px;
  opacity: .5;
}
.card-white-email:hover{
  opacity: .9;
}
main{
  background-color: #E9E9DF;
}
header{
  background-color: #E9E9DF;
}
.navbar{
  background: #E9E9DF !important;
}
button{
  background: #C7C7BF;
  color: #1E2428;
}
.display-2{
  font-family: 'Raleway', sans-serif !important;
}
.message-heading{
  color: #1E2428;
}
.message-subheading{
  color: #1E2428;
}
.message-base{
  color: #1E2428;
}
.message-box{
  background-image: url(redbottomwave.png);
  min-height: 40px;
  background-size: cover;
  position: relative;
}
.card-white-message{
  background: #C7C7BF;
  padding: 1%;
  box-shadow: 2px 2px 4px #1E2428;
  border-radius: 2%;
  margin-top: auto;
  }
@media screen and (min-width: 768px){
.card-white-message{
  position:absolute;
  transform: translateY(50%);
  left: 50%;
  }
}
.card-white-quotes{
  background:#C7C7BF;
  box-shadow: 2px 2px 4px #1E2428;
  border-radius: 5px;
  margin: auto;
}
.card-white-quotes-l{
  background: #C7C7BF;
  box-shadow: 2px 2px 4px #1E2428;
  border-radius: 5px;
  margin: auto;

}
.card-fight{
  background: #E9E9DF;
  margin: auto;
}